certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
filelock==3.0.12
Flask==2.0.1
huggingface-hub==0.0.12
idna==3.2
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.21.1
packaging==21.0
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
sacremoses==0.0.45
six==1.16.0
tokenizers==0.10.3
torch==1.9.0
tqdm==4.62.0
transformers==4.9.2
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
